.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(178, 178, 194);
    font-weight: bold;
  }
  .dadsqrtf{
    text-align: center;
    margin-left: 90px;
  }
  .modal .modal-main {
    position: fixed;
    background:#CECFE3;
    border:4px solid white;
    border-radius: 10px;
    width: 90%;
    height:90%;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    overflow: scroll;
    

    /* position: fixed;
    background:rgb(111, 110, 175);
    color: white;
    /* border:4px solid black; */
    /* border-radius: 40px;
    width: 70%;
    height:70%;
    top: 10px;
    left: 50%;  
    transform: translate(-50%, -50%);  */
  }
 
  .display-block {
    display: block;
  }
 
  .display-none {
    display: none;
  }
  .imgnew{
    height: 250px;
    /* borde: 9px solid white; */
    border-radius: 65%;
    width: 25%;
    margin-left: 37%;
    position: relative;
    top: -120px;
    left: 0;
    right: 0;
    bottom: 0;
  }
.intrested
{
  width: 100%;
  background-color: rgba(195, 213, 219, 0.555);
  box-shadow: 0 8px 6px -6px gray;
  margin-left: 20%;
}
.eimg{
  height: 100%;
  width: 20%;
  
}
.eimg434{
  height: 100%;
  width: 30%;
  font-size: 50px;
}
.h555555{
  text-align: center;
}
.imasdf{
   
  background: rgba(216,220,233,1);
  background: -moz-linear-gradient(top, rgba(216,220,233,1) 0%, rgba(146,156,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216,220,233,1)), color-stop(100%, rgba(146,156,191,1)));
  background: -webkit-linear-gradient(top, rgba(216,220,233,1) 0%, rgba(146,156,191,1) 100%);
  background: -o-linear-gradient(top, rgba(216,220,233,1) 0%, rgba(146,156,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(216,220,233,1) 0%, rgba(146,156,191,1) 100%);
  background: linear-gradient(to bottom, rgba(216,220,233,1) 0%, rgba(146,156,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8dce9', endColorstr='#929cbf', GradientType=0 );
  height: 250px;
}
.eimg1{
  height: 10%;
  width: 10%;
}
.eimg2{
  height: 10%;
  width: 10%;
}
.texxtte{
  margin-top:-80px;

}
.abbte{
  text-align: center;
}
.btnnnnnn{
  text-align: center;
  width: 100%;
  background: #6682EB;
  font-size: 25px;
}