.divvvvvvvvv{
    height: 300px;
    width: 500px;
}
.imgggggggg{
    height: 50px;
    width: 50px;
}
.ppppppppp{
    color: red;
}
.h111111111111{
    border: 2px solid black;
}
.aseeqrq{
    background:#C54C51; 
    margin-left: 100px;
}
.pqwecmk{
    margin-left: 200px;
}
.pqwecmk2{
    margin-left: 220px;
}
.aseeqrq2{
    margin-left: 100px;
    background: #698D10;
}